@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@font-face {
  font-family: Tanha;
  src: url(/src/assets/font/Tanha.eot);
  src: url(/src/assets/font/Tanha.eot?#iefix) format('embedded-opentype'),
       url(/src/assets/font/Tanha.woff) format('woff'),
       url(/src/assets/font/Tanha.ttf) format('truetype');
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Tanha;
  scroll-behavior: smooth;
}

* {
  -webkit-tap-highlight-color: transparent;
}